* styling of the webpage */
body {
    font-family: Open Sans;
    line-height: 1.8;
    background-color:#f8f8f8; /* light blue */
}
p {
	font-size: 25px;
	font-family: Open Sans;
}
.container_front {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 250px;
    padding-right: 250px;
    background-color:#f8f8f8;
}
.margin {margin-bottom: 45px;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color:#f8f8f8;
}
.navbar {
    padding-top: 5px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #9ECCBF;
    height: 10px;
    color: #000000;
    font-style: bold;
}
.navbar-nav  li a:hover {
    color: #ffffff;
}